<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Е-рецепт на екстренну контрацепцію</title>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="css/tform.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
</head>
    <body>
        <header>
          <div class="desktop_header">
            <div class="logo">
              <a rel="nofollow" href="https://tabletka24.pl/"><img src="img/logo.png" alt="logo"></a>
      </div>         
      <div class="menu">
          <nav>
          <ul>
         
              <div class="changeLanguageContainer">
                  <li class="language "><img src="img/ua.png" alt="ua">Uk</li>                
              <div class="popUpLanguage">
                  <div class="pl"><a href="dp.html"><img src="img/pl.png" alt="pl">Polski</a></div>   
                  <div class="ru"><a href="dp-ru.html"><img src="img/ru.png" alt="ru">Русский</a></div>   
              </div>
              </div>            
          </ul>
      </nav>
      </div>
          </div>

         
            <div class="mobile_header">
              <div class="logo">
                <a rel="nofollow" href="https://tabletka24.pl/"><img src="img/logo.png" alt="logo"></a>
        </div>         
        <div class="menu">
            
            <nav>
            <ul>
              <div class="changeLanguageContainer">
                <li class="language "><img src="img/ua.png" alt="ua">Uk</li>                
            <div class="popUpLanguage">
                <div class="pl"><a href="dp-form.html"><img src="img/pl.png" alt="pl">Polski</a></div>   
                <div class="ru"><a href="dp-form-ru.html"><img src="img/ru.png" alt="ru">Русский</a></div>   
            </div>
            </div>        
              
                   
            </ul>
        </nav>
        <div class="menu_toggle">	<svg id="hamburger" class="Header__toggle-svg" viewbox="0 0 60 40">
          <g stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path id="top-line" d="M10,10 L50,10 Z"></path>
              <path id="middle-line" d="M10,20 L50,20 Z"></path>
              <path id="bottom-line" d="M10,30 L50,30 Z"></path>
          </g>
      </svg></div>
        </div>
  
            </div>
             
        </header>
        
        
            <section id="single_product">
                <div id="single_product_container">
                <div id="single_product_inner">
                    <div class="single-product__info">
                      <h2>Електрона консультація з можливістю отримання е-рецепту на екстренну контрацепцію</h2>
                    </div>
                    <form
                      id="single_product_form"
                      enctype="multipart/form-data"
                      action="https://tabletka24.pl/usluga/tabletka-dzien-po/#wpcf7-f672-p84-o1"
                      rel="nofollow"
                      method="post"
                    >
                    
                    <div class="errorContainer"></div>
                    <div class="options">
                        <p class="question">Яку екстрену контрацепцію ви б хотіли отримати?<span class="required">*</span></p>
                        <label for="Choice1"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice1"
                            name="pyt[0]"
                            value="ELAONE(ДО 120 ГОДИН)"
                          />
                          <span class="custom-radio">ELLAONE(ДО 120 ГОДИН)</span>
                          </label
                        >
                        <label for="Choice2"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice2"
                            name="pyt[0]"
                            value="ESCAPELLE/LIVOPILL(ДО 72 ГОДИН)"
                          />
                          <span class="custom-radio">ESCAPELLE/LIVOPILL(ДО 72 ГОДИН)</span>
                          </label
                        >
                      </div>
        
                      <div class="options esc-lip">
                        <p class="question">Ви віддаєте перевагу якомусь із препаратів?<span class="required">*</span></p>
                        <label for="Choice35"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice35"
                            name="pyt[0_0]"
                            value="ТАК, ОБИРАЮ LIVOPILL"
                          />
                          <span class="custom-radio">ТАК, ОБИРАЮ LIVOPILL"</span>
                          </label
                        >
                        <label for="Choice36"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice36"
                            name="pyt[0_0]"
                            value="ТАК, ОБИРАЮ ESCAPELLE"
                          />
                          <span class="custom-radio">ТАК, ОБИРАЮ ESCAPELLE"</span>
                          </label
                        >
                        <label for="Choice37"
                        ><input
                          class="real-radio"
                          type="radio"
                          id="Choice37"
                          name="pyt[0_0]"
                          value="НІ, НЕХАЙ ВИРІШИТЬ ЛІКАР"
                        />
                        <span class="custom-radio">НІ, НЕХАЙ ВИРІШИТЬ ЛІКАР</span>
                        </label
                      >
                        
                      </div>
        
                      <div class="options">
                        <p class="question">Ви робили сьогодні тест на вагітність?<span class="required">*</span></p>
                        <label for="Choice3"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice3"
                            name="pyt[1]"
                            value="НІ(ЗРОБІТЬ ТЕСТ, ЩОБ ПРОДОВЖИТИ)"
                          />
                          <span class="custom-radio">НІ(ЗРОБІТЬ ТЕСТ, ЩОБ ПРОДОВЖИТИ)</span>
                          </label
                        >
                        <label for="Choice4"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice4"
                            name="pyt[1]"
                            value="ТАК"
                          />
                          <span class="custom-radio">ТАК</span>
                          </label
                        >
                        <p class="form_error">
                          На жаль, ми не можемо надати вам консультацію. Потрібно проконсультуватися з лікарем фізично. Перед застосуванням препарату слід виключити вагітність. Будь ласка, пройдіть тест.
                          </p>
                      </div>
        
                      <div class="options">
                        <p class="question">Ви вагітні?<span class="required">*</span></p>
                        <label for="Choice5"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice5"
                            name="pyt[2]"
                            value="ТАК"
                          />
                          <span class="custom-radio">ТАК</span>
                          </label
                        >
                        <label for="Choice6"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice6"
                            name="pyt[2]"
                            value="НІ"
                          />
                          <span class="custom-radio">НІ</span>
                          </label>
                        <p class="form_error1">
                          На жаль, ми не можемо надати вам консультацію. Потрібно проконсультуватися з лікарем фізично. Вагітність є протипоказанням до використання екстреної контрацепції.
                          </p>
                      </div>
                      <div class="options">
                        <p class="question">Ви годуєте грудьми?<span class="required">*</span></p>
                        <label for="Choice7"><input
                            class="real-radio"
                            type="radio"
                            id="Choice7"
                            name="pyt[3]"
                            value="ТАК"
                          />
                          <span class="custom-radio">ТАК</span>
                          </label>
                        <label for="Choice8"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice8"
                            name="pyt[3]"
                            value="НІ"
                          />
                          <span class="custom-radio">НІ</span>
                          </label>
                        <p class="form_error2">
                          На жаль, ми не можемо надати вам консультацію. Потрібно проконсультуватися з лікарем фізично. Активні речовини, що містяться в екстреній контрацепції, проникають у грудне молоко. Вам не слід приймати ці ліки, якщо ви годуєте грудьми.
                          </p>
                      </div>
                      <div class="options">
                        <p class="question">Ви страждаєте на якісь хронічні захворювання?<span class="required">*</span></p>
                        <label for="Choice9"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice9"
                            name="pyt[4]"
                            value="ТАК"
                          />
                          <span class="custom-radio">ТАК</span>
                          </label
                        >
                        <label for="Choice10"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice10"
                            name="pyt[4]"
                            value="НІ"
                          />
                          <span class="custom-radio">НІ</span>
                          </label
                        >
                        <div class="userText">
                          На які хронічні захворювання ви страждаєте?<span class="required">*</span>
                            <textarea
                              name="pyt[4_0]" 
                            ></textarea>
                          </div>
                      </div>
                      <div class="options">
                        <p class="question">Ви приймаєте будь-які інші ліки?<span class="required">*</span></p>
                        <label for="Choice11"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice11"
                            name="pyt[5]"
                            value="ТАК"
                          />
                          <span class="custom-radio">ТАК</span>
                          </label
                        >
                        <label for="Choice12"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice12"
                            name="pyt[5]"
                            value="НІ"
                          />
                          <span class="custom-radio">НІ</span>
                          </label
                        >
                        <div class="userText1">
                          Які ще ліки ви приймаєте?<span class="required">*</span>
                            <textarea
                              name="pyt[5_0]"
                            ></textarea>
                          </div>
                      </div>  
                      <div class="options">
                        <p class="question">Чи відчували ви останнім часом будь-які нові тривожні симптоми, про які ви не консультувалися з лікарем?<span class="required">*</span></p>
                        <label for="Choice13"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice13"
                            name="pyt[6]"
                            value="ТАК"
                          />
                          <span class="custom-radio">ТАК</span>
                          </label
                        >
                        <label for="Choice14"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice14"
                            name="pyt[6]"
                            value="НІ"
                          />
                          <span class="custom-radio">НІ</span>
                          </label
                        >
                        <p class="form_error3">
                          К сожалению, мы не можем предоставить Вам консультацию. Вам необходимо проконсультироваться с врачом физически. Выбранная форма консультации не обеспечивает адекватного общения, необходимого для обсуждения новых медицинских проблем. Пожалуйста, проконсультируйтесь с врачом по телефону или лично.
                          </p>
                      </div>
                      <div class="options">
                        <p class="question">Чи відчували ви якісь тривожні симптоми (наприклад, алергію) після приймання тих чи інших ліків?<span class="required">*</span></p>
                        <label for="Choice15"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice15"
                            name="pyt[7]"
                            value="TAK"
                          />
                          <span class="custom-radio">TAK</span>
                          </label
                        >
                        <label for="Choice16"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice16"
                            name="pyt[7]"
                            value="НІ"
                          />
                          <span class="custom-radio">НІ</span>
                          </label
                        >
                       <div class="userText2">
                        Пожалуйста, перечислите эти лекарства и опишите любые побочные эффекты, возникшие после их приема.
                            <span class="required">*</span>
                            <textarea
                              name="pyt[7_0]"
                            ></textarea>
                          </div> 
                      </div> 
        
                      
                      <div class="options">
                        <p class="question">Чи приймали ви в цьому місяці будь-яку іншу екстрену контрацепцію? <span class="required">*</span></p>
                        <label for="Choice17"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice17"
                            name="pyt[8]"
                            value="TAK"
                          />
                          <span class="custom-radio">TAK</span>
                          </label
                        >
                        <label for="Choice18"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice18"
                            name="pyt[8]"
                            value="НІ"
                          />
                          <span class="custom-radio">НІ</span>
                          </label
                        >     
                      </div>
        
                      <div class="options multiple">
                        <p class="question">Чому ви знову хочете отримати рецепт на екстрену контрацепцію? <span class="required">*</span></p>
                        <label for="Choice19"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice19"
                            name="pyt[8_0]"
                            value="БЛЮВАННЯ СТАЛОСЯ ПРОТЯГОМ 3 ГОДИН ПІСЛЯ ПРИЙОМУ ПОПЕРЕДНЬОЇ ДОЗИ ПРЕПАРАТУ."
                          />
                          <span class="custom-radio">БЛЮВАННЯ СТАЛОСЯ ПРОТЯГОМ 3 ГОДИН ПІСЛЯ ПРИЙОМУ ПОПЕРЕДНЬОЇ ДОЗИ ПРЕПАРАТУ.</span>
                          </label
                        >
                        <label for="Choice20"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice20"
                            name="pyt[8_0]"
                            value="БУЛА ЩЕ ОДНА НЕЗАХИЩЕНА ПОРАДА АБО ПІД ЧАС НЕВДАЧІ МЕТОДУ КОНТРАЦЕПЦІЇ."
                          />
                          <span class="custom-radio">БУЛА ЩЕ ОДНА НЕЗАХИЩЕНА ПОРАДА АБО ПІД ЧАС НЕВДАЧІ МЕТОДУ КОНТРАЦЕПЦІЇ.</span>
                          </label>
                          <label for="Choice21"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice21"
                            name="pyt[8_0]"
                            value="ПОПЕРЕДНІЙ ПРЕПАРАТ НАРАЗІ НЕ ПРОДАЄТЬСЯ В АПТЕКАХ."
                          />
                          <span class="custom-radio">ПОПЕРЕДНІЙ ПРЕПАРАТ НАРАЗІ НЕ ПРОДАЄТЬСЯ В АПТЕКАХ.</span>
                          </label>   
                          <label for="Choice22"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice22"
                            name="pyt[8_0]"
                            value="Я ХОЧУ ОТРИМАТИ КОНСУЛЬТАЦІЮ ТА ОТРИМАТИ РЕЦЕПТ НА ТЕРМІНОВУ КОНТРАЦЕПЦІЮ, ЩОБ ЗБЕРЕГТИ ПІДГОТОВКУ НА ВИПАДОК НЕЗАХИЩЕНОГО ОТРИМАННЯ В МАЙБУТНЬОМУ."
                          />
                          <span class="custom-radio">Я ХОЧУ ОТРИМАТИ КОНСУЛЬТАЦІЮ ТА ОТРИМАТИ РЕЦЕПТ НА ТЕРМІНОВУ КОНТРАЦЕПЦІЮ, ЩОБ ЗБЕРЕГТИ ПІДГОТОВКУ НА ВИПАДОК НЕЗАХИЩЕНОГО ОТРИМАННЯ В МАЙБУТНЬОМУ.</span>
                          </label>   
                          <label for="Choice23"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice23"
                            name="pyt[8_0]"
                            value="З МОМЕНТУ СТАТЕВОГО АКТУ МИНУЛО БІЛЬШЕ ЧАСУ, ЧИМ КОНКРЕТНИЙ ЧАС, У ЯКОМУ ВИ МОЖЕТЕ ПРИЙМАТИ РАНЬШЕ НАПИСАНИЙ ПРЕПАРАТ. ХОЧУ ОТРИМАТИ ПРЕПАРАТ, ЯКИЙ МОЖНА ПРИЙНЯТИ ЗА ДОВГИЙ ЧАС."
                          />
                          <span class="custom-radio">З МОМЕНТУ СТАТЕВОГО АКТУ МИНУЛО БІЛЬШЕ ЧАСУ, ЧИМ КОНКРЕТНИЙ ЧАС, У ЯКОМУ ВИ МОЖЕТЕ ПРИЙМАТИ РАНЬШЕ НАПИСАНИЙ ПРЕПАРАТ. ХОЧУ ОТРИМАТИ ПРЕПАРАТ, ЯКИЙ МОЖНА ПРИЙНЯТИ ЗА ДОВГИЙ ЧАС.</span>
                          </label>        
                      </div>
        
                      <div class="options">
                        <p class="question">Я заявляю, що знаю і розумію можливі побічні ефекти, протипоказання, взаємодії, обмеження та запобіжні заходи, пов'язані із застосуванням препарату, в тому числі ті, що містяться в інструкції або короткій характеристиці препарату до даного препарату.<span class="required">*</span></p>
                        <label for="Choice24"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice24"
                            name="pyt[9]"
                            value="TAK"
                          />
                          <span class="custom-radio">TAK</span>
                          </label
                        >
                        <label for="Choice25"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice25"
                            name="pyt[9]"
                            value="НІ"
                          />
                          <span class="custom-radio">НІ</span>
                          </label
                        >
                        <p class="form_error4">
                          На жаль, ми не можемо надати Вам консультацію. Вам необхідно проконсультуватися з лікарем фізично. Наші консультації призначені тільки для пацієнтів, які вже отримали у свого лікаря відповідну освіту з питань застосування препарату. Якщо лікуючий лікар не надав такого навчання, будь ласка, запишіться на телефонну або стаціонарну консультацію.
                          </p>
                      </div>
        
                      <div class="options">
                        <p class="question">Чи страждаєте ви на будь-яке з наведених нижче захворювань, наприклад, тяжку бронхіальну астму, тяжку дисфункцію печінки, синдром мальабсорбції (синдром мальабсорбції глюкози-галактози або, наприклад, хвороба Крона), спадкову непереносимість галактози, загальний дефіцит лактази, гіперчутливість до активної речовини або до будь-якої допоміжної речовини, яка міститься у препараті.<span class="required">*</span></p>
                        <label for="Choice26"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice26"
                            name="pyt[10]"
                            value="TAK"
                          />
                          <span class="custom-radio">TAK</span>
                          </label
                        >
                        <label for="Choice27"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice27"
                            name="pyt[10]"
                            value="НІ"
                          />
                          <span class="custom-radio">НІ</span>
                          </label
                        >
                        <p class="form_error5">
                          На жаль, ми не можемо надати Вам консультацію. Вам необхідно проконсультуватися з лікарем фізично. Препарат протипоказаний при тяжкій формі бронхіальної астми, тяжких порушеннях функції печінки, синдромах мальабсорбції, спадковій непереносимості галактози, загальній недостатності лактази та гіперчутливості до діючої речовини або до будь-якої допоміжної речовини, що міститься у препараті.
                          </p>
                      </div>
        
                      <div class="options">
                        <p class="question">Я підтверджую, що мені відомо про можливі тромбоемболічні ускладнення, пов'язані з використанням гормональної контрацепції, а також про пов'язані з ними неврологічні, легеневі та серцеві ускладнення.<span class="required">*</span></p>
                        <label for="Choice28"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice28"
                            name="pyt[11]"
                            value="TAK"
                          />
                          <span class="custom-radio">TAK</span>
                          </label
                        >
                        <label for="Choice29"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice29"
                            name="pyt[11]"
                            value="НІ"
                          />
                          <span class="custom-radio">НІ</span>
                          </label
                        >
                        <p class="form_error6">
                          На жаль, ми не можемо надати Вам консультацію. Вам необхідно проконсультуватися з лікарем фізично.
                          </p>
                      </div>
        
                      <div class="options">
                        <p class="question">Я підтверджую, що усвідомлюю, що жодна гормональна контрацепція не є ефективною на 100%. <span class="required">*</span></p>
                        <label for="Choice30"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice30"
                            name="pyt[12]"
                            value="TAK"
                          />
                          <span class="custom-radio">TAK</span>
                          </label
                        >
                        <label for="Choice31"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice31"
                            name="pyt[12]"
                            value="НІ"
                          />
                          <span class="custom-radio">НІ</span>
                          </label
                        >
                        <p class="form_error7">
                          На жаль, ми не можемо надати Вам консультацію. Вам необхідно проконсультуватися з лікарем фізично.
                          </p>
                      </div>
                      
                      <div class="form_consent_container">
                        <div class="consent_box">
                            <input
                            type="button"
                            id="accept_all_btn"
                            value="ВИБРАТИ ВСЕ"
                          />
                        </div>
                        
                        <div class="consent_box">
                            <div class="consent_desc">
                                <span class="required">(Обов’язково)</span> Я підтверджую, що прочитав і приймаю 
                            <a rel="nofollow" href="https://tabletka24.pl/regulamin/">правила</a>
                            та
                            <a rel="nofollow" href="https://tabletka24.pl/polityka-prywatnosci/"
                              >політику конфіденційності</a>
                              порталу та їх положення. Я підтверджую, що надані мною відомості та дані відповідають дійсності. Я користуюся послугою від свого імені та за власним бажанням.
                            </div>
                            <label class="consent-radio" for="Choice32"
                            ><input
                              class="real-radio"
                              type="radio"
                              id="Choice32"
                              name="zgoda[0]"
                              value="TAK"
                            />
                            <span class="custom-radio"></span>
                            Підтверджую
                           </label>
        
                        </div>
                        <div class="consent_box">
                            <div class="consent_desc">
                                <span class="required">(Обов’язково)</span>Я даю згоду на обробку GREENCARE CLINIC SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALNOŚCIĄ, NIP 5252953877, REGON 525141369, адреса: Złota 7/28, 00-019 Варшава, даних, наданих мною у формі щодо мого здоров’я, для пересилання до лікаря, який випише лікування, яке я просив.рецепт.
                           </div>
                            <label class="consent-radio" for="Choice33"
                            ><input
                              class="real-radio"
                              type="radio"
                              id="Choice33"
                              name="zgoda[1]"
                              value="TAK"
                            />
                            <span class="custom-radio"></span>
                            Погоджуюсь
                           </label
                            
                          >
                            
                        </div>
                        <div class="consent_box">
                            <div class="consent_desc">
                              Я хочу отримувати інформацію від Адміністратора персональних даних про послуги, продукти та акції, які пропонує Адміністратор персональних даних.
                           </div>
                            <label class="consent-radio" for="Choice34"
                            ><input
                              class="real-radio"
                              type="radio"
                              id="Choice34"
                              name="zgoda[2]"
                              value="TAK"
                            />
                            <span class="custom-radio"></span>
                            Погоджуюсь
                            </label>
                            
                        </div>
                      
            
                      </div>
        
        
        
                    <button
                    type="submit"
                    id="form_add_to_cart_btn"
                    name="add-to-cart"
                    value="84"
                  >
                    ДОДАТИ В КОШИК
                  </button>
                </div>
            </div>
                </section>
           
                
                <div class="footer-wrap">
           
            <div class="copyright">Copyright © 2024 Tabletka24™. All Rights Reserved</div>
        <script src="js/tscript-ua.js"></script>
        </body>

</div>



</html>