<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabletka "dzień po"</title>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="css/tform.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
</head>
    <body>
        <header>
          <div class="desktop_header">
            <div class="logo">
              <a rel="nofollow" href="https://tabletka24.pl/"><img src="img/logo.png" alt="logo"></a>
      </div>         
      <div class="menu">
          <nav>
          <ul>
        
              <div class="changeLanguageContainer">
                  <li class="language "><img src="img/pl.png" alt="pl">PL</li>                
              <div class="popUpLanguage">
                  <div class="ua"><a href="dp-ua.html"><img src="img/ua.png" alt="ua">Українська</a></div>   
                  <div class="ru"><a href="dp-ru.html"><img src="img/ru.png" alt="ru">Русский</a></div>   
              </div>
              </div>            
          </ul>
      </nav>
      </div>
          </div>

         
            <div class="mobile_header">
              <div class="logo">
                <a rel="nofollow" href="https://tabletka24.pl/"><img src="img/logo.png" alt="logo"></a>
        </div>         
        <div class="menu">
            
            <nav>
            <ul>
              <div class="changeLanguageContainer">
                <li class="language "><img src="img/pl.png" alt="pl">PL</li>                
            <div class="popUpLanguage">
                <div class="ua"><a href="dp-ua.html"><img src="img/ua.png" alt="ua">Українська</a></div>   
                <div class="ru"><a href="dp-ru.html"><img src="img/ru.png" alt="ru">Русский</a></div>   
            </div>
            </div>        
            
                   
            </ul>
        </nav>
        <div class="menu_toggle">	<svg id="hamburger" class="Header__toggle-svg" viewbox="0 0 60 40">
          <g stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path id="top-line" d="M10,10 L50,10 Z"></path>
              <path id="middle-line" d="M10,20 L50,20 Z"></path>
              <path id="bottom-line" d="M10,30 L50,30 Z"></path>
          </g>
      </svg></div>
        </div>
  
            </div>
             
        </header>
        
        
            <section id="single_product">
                <div id="single_product_container">
                <div id="single_product_inner">
                    <div class="single-product__info">
                      <h2>Wypełnij wywiad medyczny, żeby rozpociąć e-konsultację lekarską</h2>
                    </div>
                    <form
                      id="single_product_form"
                      enctype="multipart/form-data"
                      action="https://tabletka24.pl/usluga/tabletka-dzien-po/#wpcf7-f672-p84-o1"
                      rel="nofollow"
                      method="post"
                    >
                    
                    <div class="errorContainer"></div>
                    <div class="options">
                        <p class="question">Który preparat antykoncepcji awaryjnej chciałabyś uzyskać?<span class="required">*</span></p>
                        <label for="Choice1"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice1"
                            name="pyt[0]"
                            value="ELLAONE(DO 120 GODZIN)"
                          />
                          <span class="custom-radio">ELLAONE(DO 120 GODZIN)</span>
                          </label
                        >
                        <label for="Choice2"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice2"
                            name="pyt[0]"
                            value="ESCAPELLE/LIVOPILL(DO 72 GODZIN)"
                          />
                          <span class="custom-radio">ESCAPELLE/LIVOPILL(DO 72 GODZIN)</span>
                          </label
                        >
                      </div>
        
                      <div class="options esc-lip">
                        <p class="question">Czy preferujesz któryś ze specyfików?<span class="required">*</span></p>
                        <label for="Choice35"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice35"
                            name="pyt[0_0]"
                            value="TAK, WYBIERAM LIVOPILL"
                          />
                          <span class="custom-radio">TAK, WYBIERAM LIVOPILL</span>
                          </label
                        >
                        <label for="Choice36"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice36"
                            name="pyt[0_0]"
                            value="TAK, WYBIERAM ESCAPELLE"
                          />
                          <span class="custom-radio">TAK, WYBIERAM ESCAPELLE</span>
                          </label
                        >
                        <label for="Choice37"
                        ><input
                          class="real-radio"
                          type="radio"
                          id="Choice37"
                          name="pyt[0_0]"
                          value="NIE, NIECH ZDECYDUJE LEKARZ"
                        />
                        <span class="custom-radio">NIE, NIECH ZDECYDUJE LEKARZ</span>
                        </label
                      >
                        
                      </div>
        
                      <div class="options">
                        <p class="question">Czy wykonałaś dzisiaj test ciążowy?<span class="required">*</span></p>
                        <label for="Choice3"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice3"
                            name="pyt[1]"
                            value="NIE(ABY PRZEJŚĆ DALEJ WYKONAJ TEST)"
                          />
                          <span class="custom-radio">NIE(ABY PRZEJŚĆ DALEJ WYKONAJ TEST)</span>
                          </label
                        >
                        <label for="Choice4"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice4"
                            name="pyt[1]"
                            value="TAK"
                          />
                          <span class="custom-radio">TAK</span>
                          </label
                        >
                        <p class="form_error">
                            Przykro nam nie możemy ci udzielić konsultacji. Musisz skonsultować się z lekarzem fizycznie. Przed zastosowaniem leku należy wykluczyć ciążę. Proszę wykonać test.
                          </p>
                      </div>
        
                      <div class="options">
                        <p class="question">Czy jesteś w ciąży?<span class="required">*</span></p>
                        <label for="Choice5"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice5"
                            name="pyt[2]"
                            value="TAK"
                          />
                          <span class="custom-radio">TAK</span>
                          </label
                        >
                        <label for="Choice6"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice6"
                            name="pyt[2]"
                            value="NIE"
                          />
                          <span class="custom-radio">NIE</span>
                          </label>
                        <p class="form_error1">
                            Przykro nam nie możemy ci udzielić konsultacji. Musisz skonsultować się z lekarzem fizycznie. Przed zastosowaniem leku należy wykluczyć ciążę. Proszę wykonać test.
                          </p>
                      </div>
                      <div class="options">
                        <p class="question">Czy karmisz piersią?<span class="required">*</span></p>
                        <label for="Choice7"><input
                            class="real-radio"
                            type="radio"
                            id="Choice7"
                            name="pyt[3]"
                            value="TAK"
                          />
                          <span class="custom-radio">TAK</span>
                          </label>
                        <label for="Choice8"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice8"
                            name="pyt[3]"
                            value="NIE"
                          />
                          <span class="custom-radio">NIE</span>
                          </label>
                        <p class="form_error2">
                            Przykro nam nie możemy ci udzielić konsultacji. Musisz skonsultować się z lekarzem fizycznie. Substancje czynne zawarte w antykoncepcji awaryjnej przenikają do mleka kobiecego. Nie należy zażywać tych leków w okresie karmienia piersią.
                          </p>
                      </div>
                      <div class="options">
                        <p class="question">Czy chorujesz na jakieś choroby przewlekłe?<span class="required">*</span></p>
                        <label for="Choice9"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice9"
                            name="pyt[4]"
                            value="TAK"
                          />
                          <span class="custom-radio">TAK</span>
                          </label
                        >
                        <label for="Choice10"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice10"
                            name="pyt[4]"
                            value="NIE"
                          />
                          <span class="custom-radio">NIE</span>
                          </label
                        >
                        <div class="userText">
                            Na jakie choroby przewlekłe chorujesz?<span class="required">*</span>
                            <textarea
                              name="pyt[4_0]" 
                            ></textarea>
                          </div>
                      </div>
                      <div class="options">
                        <p class="question">Czy przyjmujesz jakieś inne leki?<span class="required">*</span></p>
                        <label for="Choice11"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice11"
                            name="pyt[5]"
                            value="TAK"
                          />
                          <span class="custom-radio">TAK</span>
                          </label
                        >
                        <label for="Choice12"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice12"
                            name="pyt[5]"
                            value="NIE"
                          />
                          <span class="custom-radio">NIE</span>
                          </label
                        >
                        <div class="userText1">
                            Jakie inne leki przyjmujesz?<span class="required">*</span>
                            <textarea
                              name="pyt[5_0]"
                            ></textarea>
                          </div>
                      </div>  
                      <div class="options">
                        <p class="question">Czy w ostatnim czasie pojawiły się u Ciebie jakieś nowe, niepokojące objawy, których nie konsultowałaś/eś z lekarzem?<span class="required">*</span></p>
                        <label for="Choice13"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice13"
                            name="pyt[6]"
                            value="TAK"
                          />
                          <span class="custom-radio">TAK</span>
                          </label
                        >
                        <label for="Choice14"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice14"
                            name="pyt[6]"
                            value="NIE"
                          />
                          <span class="custom-radio">NIE</span>
                          </label
                        >
                        <p class="form_error3">
                            Przykro nam nie możemy ci udzielić konsultacji. Musisz skonsultować się z lekarzem fizycznie. Wybrana forma konsultacji nie zapewnia odpowiedniej komunikacji, która jest niezbędna do skonsultowania nowych problemów medycznych. Prosimy skonsultować się z lekarzem poprzez poradę telefoniczną lub stacjonarnie.
                          </p>
                      </div>
                      <div class="options">
                        <p class="question">Czy po przyjęciu tych bądź innych leków pojawiły się u Ciebie jakieś niepokojące objawy (np. alergia)?<span class="required">*</span></p>
                        <label for="Choice15"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice15"
                            name="pyt[7]"
                            value="TAK"
                          />
                          <span class="custom-radio">TAK</span>
                          </label
                        >
                        <label for="Choice16"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice16"
                            name="pyt[7]"
                            value="NIE"
                          />
                          <span class="custom-radio">NIE</span>
                          </label
                        >
                       <div class="userText2">
                            Wymień proszę te leki i opisz, jakie działania niepożądane się po ich zastosowaniu pojawiły.
                            <span class="required">*</span>
                            <textarea
                              name="pyt[7_0]"
                            ></textarea>
                          </div> 
                      </div> 
        
                      
                      <div class="options">
                        <p class="question">Czy przyjmowałaś w tym cyklu miesięcznym inną antykoncepcję awaryjną?<span class="required">*</span></p>
                        <label for="Choice17"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice17"
                            name="pyt[8]"
                            value="TAK"
                          />
                          <span class="custom-radio">TAK</span>
                          </label
                        >
                        <label for="Choice18"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice18"
                            name="pyt[8]"
                            value="NIE"
                          />
                          <span class="custom-radio">NIE</span>
                          </label
                        >     
                      </div>
        
                      <div class="options multiple">
                        <p class="question">Z jakiego powodu chcesz ponownie uzyskać receptę na antykoncepcję awaryjną?<span class="required">*</span></p>
                        <label for="Choice19"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice19"
                            name="pyt[8_0]"
                            value="W CIĄGU 3 GODZIN PO PRZYJĘCIU POPRZEDNIEJ DAWKI LEKU WYSTĄPIŁY WYMIOTY."
                          />
                          <span class="custom-radio">W CIĄGU 3 GODZIN PO PRZYJĘCIU POPRZEDNIEJ DAWKI LEKU WYSTĄPIŁY WYMIOTY.</span>
                          </label
                        >
                        <label for="Choice20"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice20"
                            name="pyt[8_0]"
                            value="DOSZŁO DO KOLEJNEGO STOSUNKU BEZ ZABEZPIECZENIA LUB PODCZAS KTÓREGO METODA ANTYKONCEPCJI ZAWIODŁA."
                          />
                          <span class="custom-radio">DOSZŁO DO KOLEJNEGO STOSUNKU BEZ ZABEZPIECZENIA LUB PODCZAS KTÓREGO METODA ANTYKONCEPCJI ZAWIODŁA.</span>
                          </label>
                          <label for="Choice21"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice21"
                            name="pyt[8_0]"
                            value="UPRZEDNIO PRZYPISANY PREPARAT NIE JEST AKTUALNIE DOSTĘPNY W APTEKACH."
                          />
                          <span class="custom-radio">UPRZEDNIO PRZYPISANY PREPARAT NIE JEST AKTUALNIE DOSTĘPNY W APTEKACH.</span>
                          </label>   
                          <label for="Choice22"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice22"
                            name="pyt[8_0]"
                            value="CHCĘ PRZEJŚĆ KONSULTACJĘ I UZYSKAĆ RECEPTĘ NA ANTYKONCEPCJĘ AWARYJNĄ ŻEBY MÓC ZACHOWAĆ PREPARAT NA WYPADEK NIEZABEZPIECZONEGO STOSUNKU W PRZYSZŁOŚCI."
                          />
                          <span class="custom-radio">CHCĘ PRZEJŚĆ KONSULTACJĘ I UZYSKAĆ RECEPTĘ NA ANTYKONCEPCJĘ AWARYJNĄ ŻEBY MÓC ZACHOWAĆ PREPARAT NA WYPADEK NIEZABEZPIECZONEGO STOSUNKU W PRZYSZŁOŚCI.</span>
                          </label>   
                          <label for="Choice23"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice23"
                            name="pyt[8_0]"
                            value="OD STOSUNKU MINĘŁO WIĘCEJ CZASU NIŻ OKREŚLONY CZAS, W KTÓRYM MOŻNA PRZYJĄĆ UPRZEDNIO WYPISANY PREPARAT. CHCĘ OTRZYMAĆ PREPARAT, KTÓRY MOŻNA PRZYJĄĆ W DŁUŻSZYM ODSTĘPIE CZASOWYM."
                          />
                          <span class="custom-radio">OD STOSUNKU MINĘŁO WIĘCEJ CZASU NIŻ OKREŚLONY CZAS, W KTÓRYM MOŻNA PRZYJĄĆ UPRZEDNIO WYPISANY PREPARAT. CHCĘ OTRZYMAĆ PREPARAT, KTÓRY MOŻNA PRZYJĄĆ W DŁUŻSZYM ODSTĘPIE CZASOWYM.</span>
                          </label>        
                      </div>
        
                      <div class="options">
                        <p class="question">Oświadczam, że znam i rozumiem możliwe działania niepożądane, przeciwwskazania, interakcje, ograniczenia i środki ostrożności związane ze stosowaniem leku, w tym te zawarte w ulotce lub Charakterystyce Produktu Leczniczego danego leku.<span class="required">*</span></p>
                        <label for="Choice24"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice24"
                            name="pyt[9]"
                            value="TAK"
                          />
                          <span class="custom-radio">TAK</span>
                          </label
                        >
                        <label for="Choice25"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice25"
                            name="pyt[9]"
                            value="NIE"
                          />
                          <span class="custom-radio">NIE</span>
                          </label
                        >
                        <p class="form_error4">
                            Przykro nam nie możemy ci udzielić konsultacji. Musisz skonsultować się z lekarzem fizycznie. Nasze konsultacje są przeznaczone wyłącznie dla pacjentów, którzy już odbyli z lekarzem odpowiednią edukację w zakresie stosowania leku. Jeśli lekarz prowadzący leczenie nie przeprowadził takiej edukacji, prosimy zgłosić się na konsultację telefoniczną lub stacjonarną.
                          </p>
                      </div>
        
                      <div class="options">
                        <p class="question">Czy chorujesz na którąś z wymienionych jednostek chorobowych, tj.: ciężką astmę oskrzelową, ciężkie zaburzenia czynności wątroby, zespół złego wchłaniania (zespół złego wchłaniania glukozy-galaktozy lub np. w przebiegu ch. Leśniowskiego-Crohna), dziedziczną nietolerancją galaktozy, całkowity niedobór laktazy, nadwrażliwość na substancję czynną lub jakąkolwiek substancję pomocniczą zawartą w preparacie.<span class="required">*</span></p>
                        <label for="Choice26"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice26"
                            name="pyt[10]"
                            value="TAK"
                          />
                          <span class="custom-radio">TAK</span>
                          </label
                        >
                        <label for="Choice27"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice27"
                            name="pyt[10]"
                            value="NIE"
                          />
                          <span class="custom-radio">NIE</span>
                          </label
                        >
                        <p class="form_error5">
                            Przykro nam nie możemy ci udzielić konsultacji. Musisz skonsultować się z lekarzem fizycznie. Lek jest przeciwwskazany w przypadku ciężkiej astmy oskrzelowej, ciężkich zaburzeń czynności wątroby, zespołów złego wchłaniania, dziedzicznej nietolerancji galaktozy, całkowitego niedoboru laktazy i nadwrażliwości na substancję czynną lub jakąkolwiek substancję pomocniczą zawartą w preparacie.
                          </p>
                      </div>
        
                      <div class="options">
                        <p class="question">Potwierdzam, że jestem świadoma możliwych powikłań zakrzepowo-zatorowych związanych ze stosowaniem antykoncepcji hormonalnej i związanych z nimi powikłań neurologicznych, pulmonologicznych i kardiologicznych.<span class="required">*</span></p>
                        <label for="Choice28"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice28"
                            name="pyt[11]"
                            value="TAK"
                          />
                          <span class="custom-radio">TAK</span>
                          </label
                        >
                        <label for="Choice29"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice29"
                            name="pyt[11]"
                            value="NIE"
                          />
                          <span class="custom-radio">NIE</span>
                          </label
                        >
                        <p class="form_error6">
                            Przykro nam nie możemy ci udzielić konsultacji. Musisz skonsultować się z lekarzem fizycznie.
                          </p>
                      </div>
        
                      <div class="options">
                        <p class="question">Potwierdzam, że jestem świadoma, że żadna antykoncepcja hormonalna nie jest w 100% skuteczna.<span class="required">*</span></p>
                        <label for="Choice30"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice30"
                            name="pyt[12]"
                            value="TAK"
                          />
                          <span class="custom-radio">TAK</span>
                          </label
                        >
                        <label for="Choice31"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice31"
                            name="pyt[12]"
                            value="NIE"
                          />
                          <span class="custom-radio">NIE</span>
                          </label
                        >
                        <p class="form_error7">
                            Przykro nam nie możemy ci udzielić konsultacji. Musisz skonsultować się z lekarzem fizycznie.
                          </p>
                      </div>
                      
                      <div class="form_consent_container">
                        <div class="consent_box">
                            <input
                            type="button"
                            id="accept_all_btn"
                            value="Zaznacz wszystkie"
                          />
                        </div>
                        
                        <div class="consent_box">
                            <div class="consent_desc">
                                <span class="required">(Wymagane)</span> Potwierdzam że zapoznałem się i akceptuje
                            <a rel="nofollow" href="https://tabletka24.pl/regulamin/">regulaminem</a>
                            oraz
                            <a rel="nofollow" href="https://tabletka24.pl/polityka-prywatnosci/"
                              >politykę prywatności</a>
                            portalu oraz ich postanowienia. Potwierdzam że podane przeze
                            mnie informacje i dane są prawdziwe. Korzystam z usługi we
                            własnym imieniu i z własnej woli.
                            </div>
                            <label class="consent-radio" for="Choice32"
                            ><input
                              class="real-radio"
                              type="radio"
                              id="Choice32"
                              name="zgoda[0]"
                              value="TAK"
                            />
                            <span class="custom-radio"></span>
                            Potwierdzam
                           </label>
        
                        </div>
                        <div class="consent_box">
                            <div class="consent_desc">
                                <span class="required">(Wymagane)</span>Wyrażam zgodę na przetwarzanie przez GREENCARE CLINIC SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALNOŚCIĄ, NIP 5252953877, REGON 525141369, Adres: Złota 7/28, 00-019 Warszawa podanych przeze mnie w formularzu danych dotyczących mojego zdrowia celem przekazania ich lekarzowi mającemu wystawić wnioskowaną przeze mnie receptę.
                           </div>
                            <label class="consent-radio" for="Choice33"
                            ><input
                              class="real-radio"
                              type="radio"
                              id="Choice33"
                              name="zgoda[1]"
                              value="TAK"
                            />
                            <span class="custom-radio"></span>
                            Wyrażam zgodę
                           </label
                            
                          >
                            
                        </div>
                        <div class="consent_box">
                            <div class="consent_desc">
                                Chcę otrzymywać od Administratora danych osobowych informacje o usługach, produktach i promocjach oferowanych przez Administratora danych osobowych
                           </div>
                            <label class="consent-radio" for="Choice34"
                            ><input
                              class="real-radio"
                              type="radio"
                              id="Choice34"
                              name="zgoda[2]"
                              value="TAK"
                            />
                            <span class="custom-radio"></span>
                            Wyrażam zgodę
                            </label>
                            
                        </div>
                      
            
                      </div>
        
        
        
                    <button
                    type="submit"
                    id="form_add_to_cart_btn"
                    name="add-to-cart"
                    value="84"
                  >
                    DODAJ DO KOSZYKA
                  </button>
                </div>
            </div>
                </section>
           
                
                <div class="footer-wrap">
           
            <div class="copyright">Copyright © 2024 Tabletka24™. All Rights Reserved</div>
        <script src="js/tscript.js"></script>
        </body>

</div>



</html>