<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Э-рецепт на экстренную контрацепцию</title>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="css/tform.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
</head>
    <body>
        <header>
          <div class="desktop_header">
            <div class="logo">
              <a rel="nofollow" href="https://tabletka24.pl/"><img src="img/logo.png" alt="logo"></a>
      </div>         
      <div class="menu">
          <nav>
          <ul>
              <div class="menuLinks">
              <li><a rel="nofollow" href="https://tabletka24.pl/ru/usluga/tabletka-dzien-po-ru/#uslugi-cennik">Услуги и цена</a></li>
              <li><a rel="nofollow" href="https://tabletka24.pl/ru/usluga/tabletka-dzien-po-ru/#faq">FAQ</a></li>
              <li><a rel="nofollow" href="https://tabletka24.pl/ru/moj-akkaunt/">Мой аккаунт</a></li>
              <li><a rel="nofollow" href="https://tabletka24.pl/ru/kontakty-ru/">Контакты</a></li>
          </div>
              <div class="changeLanguageContainer">
                  <li class="language "><img src="img/ru.png" alt="ru">RU</li>                
              <div class="popUpLanguage">  
                  <div class="pl"><a href="dp.html"><img src="img/pl.png" alt="pl">Polski</a></div>  
                  <div class="ua"><a href="dp-ua.html"><img src="img/ua.png" alt="ua">Українська</a></div>  
              </div>
              </div>            
          </ul>
      </nav>
      </div>
          </div>

         
            <div class="mobile_header">
              <div class="logo">
                <a rel="nofollow" href="https://tabletka24.pl/"><img src="img/logo.png" alt="logo"></a>
        </div>         
        <div class="menu">
            
            <nav>
            <ul>
              <div class="changeLanguageContainer">
                <li class="language "><img src="img/ru.png" alt="ru">RU</li>                
            <div class="popUpLanguage">
              <div class="pl"><a href="dp.html"><img src="img/pl.png" alt="pl">Polski</a></div>   
                <div class="ua"><a href="dp-ua.html"><img src="img/ua.png" alt="ua">Українська</a></div>   
               
            </div>
            </div>        
                <div class="menuLinks">
                  <div class="menuCol">
<li><a rel="nofollow" href="https://tabletka24.pl/ru/usluga/tabletka-dzien-po-ru/#uslugi-cennik">Услуги и цена</a></li>
<li><a rel="nofollow" href="https://tabletka24.pl/ru/moj-akkaunt/">Мой аккаунт</a></li>


                  </div>
                   <div class="menuCol">
                    <li><a rel="nofollow" href="https://tabletka24.pl/ru/usluga/tabletka-dzien-po-ru/#faq">FAQ</a></li>
                <li><a rel="nofollow" href="https://tabletka24.pl/ru/kontakty-ru/">Контакты</a></li>
                  </div>
                
               
            </div>
                   
            </ul>
        </nav>
        <div class="menu_toggle">	<svg id="hamburger" class="Header__toggle-svg" viewbox="0 0 60 40">
          <g stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path id="top-line" d="M10,10 L50,10 Z"></path>
              <path id="middle-line" d="M10,20 L50,20 Z"></path>
              <path id="bottom-line" d="M10,30 L50,30 Z"></path>
          </g>
      </svg></div>
        </div>
  
            </div>
             
        </header>
        
        
            <section id="single_product">
                <div id="single_product_container">
                <div id="single_product_inner">
                    <div class="single-product__info">
                      <h2>Электронная консультация с возможностью получения рецепта на экстренную контрацепцию</h2>
                    </div>
                    <form
                      id="single_product_form"
                      enctype="multipart/form-data"
                      action="#"
                      rel="nofollow"
                      method="post"
                    >
                    
                    <div class="errorContainer"></div>
                    <div class="options">
                        <p class="question">Какую экстренную контрацепцию вы бы хотели получить?<span class="required">*</span></p>
                        <label for="Choice1"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice1"
                            name="pyt[0]"
                            value="ELLAONE(ДО 120 ЧАСОВ)"
                          />
                          <span class="custom-radio">ELLAONE(ДО 120 ЧАСОВ)</span>
                          </label
                        >
                        <label for="Choice2"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice2"
                            name="pyt[0]"
                            value="ESCAPELLE/LIVOPILL(ДО 120 ЧАСОВ)"
                          />
                          <span class="custom-radio">ESCAPELLE/LIVOPILL(ДО 120 ЧАСОВ)</span>
                          </label
                        >
                      </div>
        
                      <div class="options esc-lip">
                        <p class="question">Вы отдаете предпочтение какому-то из препаратов?<span class="required">*</span></p>
                        <label for="Choice35"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice35"
                            name="pyt[0_0]"
                            value="ДА,Я ВЫБИРАЮ LIVOPILL"
                          />
                          <span class="custom-radio">ДА,Я ВЫБИРАЮ LIVOPILL</span>
                          </label
                        >
                        <label for="Choice36"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice36"
                            name="pyt[0_0]"
                            value="ДА,Я ВЫБИРАЮ ESCAPELLE"
                          />
                          <span class="custom-radio">ДА,Я ВЫБИРАЮ ESCAPELLE</span>
                          </label
                        >
                        <label for="Choice37"
                        ><input
                          class="real-radio"
                          type="radio"
                          id="Choice37"
                          name="pyt[0_0]"
                          value="НЕТ, ПУСТЬ ДОКТОР РЕШИТ"
                        />
                        <span class="custom-radio">НЕТ, ПУСТЬ ДОКТОР РЕШИТ</span>
                        </label
                      >
                        
                      </div>
        
                      <div class="options">
                        <p class="question">Вы делали сегодня тест на беременность?<span class="required">*</span></p>
                        <label for="Choice3"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice3"
                            name="pyt[1]"
                            value="НЕТ (СДЕЛАЙТЕ ТЕСТ, ЧТОБЫ ПРОДОЛЖИТЬ)"
                          />
                          <span class="custom-radio">НЕТ (СДЕЛАЙТЕ ТЕСТ, ЧТОБЫ ПРОДОЛЖИТЬ)</span>
                          </label
                        >
                        <label for="Choice4"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice4"
                            name="pyt[1]"
                            value="ДА"
                          />
                          <span class="custom-radio">ДА</span>
                          </label
                        >
                        <p class="form_error">
                          К сожалению, мы не можем предоставить вам консультацию. Нужно проконсультироваться с врачом физически. Перед применением препарата следует исключить беременность. Пожалуйста, cделайте тест.
                          </p>
                      </div>
        
                      <div class="options">
                        <p class="question">Вы беременны?<span class="required">*</span></p>
                        <label for="Choice5"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice5"
                            name="pyt[2]"
                            value="ДА"
                          />
                          <span class="custom-radio">ДА</span>
                          </label
                        >
                        <label for="Choice6"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice6"
                            name="pyt[2]"
                            value="НЕТ"
                          />
                          <span class="custom-radio">НЕТ</span>
                          </label>
                        <p class="form_error1">
                          К сожалению, мы не можем предоставить вам консультацию. Нужно проконсультироваться с врачом физически.Беременность противопоказана к использованию экстренной контрацепции.
                          </p>
                      </div>
                      <div class="options">
                        <p class="question">Вы кормите грудью?<span class="required">*</span></p>
                        <label for="Choice7"><input
                            class="real-radio"
                            type="radio"
                            id="Choice7"
                            name="pyt[3]"
                            value="ДА"
                          />
                          <span class="custom-radio">ДА</span>
                          </label>
                        <label for="Choice8"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice8"
                            name="pyt[3]"
                            value="НЕТ"
                          />
                          <span class="custom-radio">НЕТ</span>
                          </label>
                        <p class="form_error2">
                          К сожалению, мы не можем предоставить вам консультацию. Нужно проконсультироваться с врачом физически. Активные вещества, содержащиеся в экстренной контрацепции, проникают в грудное молоко. Вам не следует принимать это лекарство, если вы кормите грудью.
                          </p>
                      </div>
                      <div class="options">
                        <p class="question">Вы страдаете какими-то хроническими заболеваниями?<span class="required">*</span></p>
                        <label for="Choice9"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice9"
                            name="pyt[4]"
                            value="ДА"
                          />
                          <span class="custom-radio">ДА</span>
                          </label
                        >
                        <label for="Choice10"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice10"
                            name="pyt[4]"
                            value="НЕТ"
                          />
                          <span class="custom-radio">НЕТ</span>
                          </label
                        >
                        <div class="userText">
                          Какими хроническими заболеваниями вы страдаете?<span class="required">*</span>
                            <textarea
                              name="pyt[4_0]" 
                            ></textarea>
                          </div>
                      </div>
                      <div class="options">
                        <p class="question">Вы принимаете какие-либо другие лекарства?<span class="required">*</span></p>
                        <label for="Choice11"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice11"
                            name="pyt[5]"
                            value="ДА"
                          />
                          <span class="custom-radio">ДА</span>
                          </label
                        >
                        <label for="Choice12"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice12"
                            name="pyt[5]"
                            value="НЕТ"
                          />
                          <span class="custom-radio">НЕТ</span>
                          </label
                        >
                        <div class="userText1">
                          Какие еще лекарства вы принимаете?<span class="required">*</span>
                            <textarea
                              name="pyt[5_0]"
                            ></textarea>
                          </div>
                      </div>  
                      <div class="options">
                        <p class="question">Испытывали ли вы в последнее время какие-либо новые тревожные симптомы, о которых вы не консультировались с врачом?<span class="required">*</span></p>
                        <label for="Choice13"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice13"
                            name="pyt[6]"
                            value="ДА"
                          />
                          <span class="custom-radio">ДА</span>
                          </label
                        >
                        <label for="Choice14"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice14"
                            name="pyt[6]"
                            value="НЕТ"
                          />
                          <span class="custom-radio">НЕТ</span>
                          </label
                        >
                        <p class="form_error3">
                          К сожалению, мы не можем предоставить Вам консультацию. Вам необходимо проконсультироваться с врачом физически. Выбранная форма консультации не обеспечивает адекватного общения, необходимого для обсуждения новых медицинских проблем. Пожалуйста, проконсультируйтесь с врачом по телефону или лично.
                          </p>
                      </div>
                      <div class="options">
                        <p class="question">Испытывали ли вы какие-либо тревожные симптомы (например, аллергию) после приема тех или иных лекарств?<span class="required">*</span></p>
                        <label for="Choice15"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice15"
                            name="pyt[7]"
                            value="ДА"
                          />
                          <span class="custom-radio">ДА</span>
                          </label
                        >
                        <label for="Choice16"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice16"
                            name="pyt[7]"
                            value="НЕТ"
                          />
                          <span class="custom-radio">НЕТ</span>
                          </label
                        >
                       <div class="userText2">
                        Пожалуйста, перечислите эти лекарства и опишите любые побочные эффекты, возникшие после их приема.
                            <span class="required">*</span>
                            <textarea
                              name="pyt[7_0]"
                            ></textarea>
                          </div> 
                      </div> 
        
                      
                      <div class="options">
                        <p class="question">Принимали ли вы в этом месяце какую-либо другую экстренную контрацепцию?<span class="required">*</span></p>
                        <label for="Choice17"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice17"
                            name="pyt[8]"
                            value="ДА"
                          />
                          <span class="custom-radio">ДА</span>
                          </label
                        >
                        <label for="Choice18"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice18"
                            name="pyt[8]"
                            value="НЕТ"
                          />
                          <span class="custom-radio">НЕТ</span>
                          </label
                        >     
                      </div>
        
                      <div class="options multiple">
                        <p class="question">Почему вы снова хотите получить рецепт на экстренную контрацепцию? <span class="required">*</span></p>
                        <label for="Choice19"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice19"
                            name="pyt[8_0]"
                            value="РВОТА ПРОИЗОШЛА В ТЕЧЕНИЕ 3 ЧАСОВ ПОСЛЕ ПРИЕМА ПРЕДЫДУЩЕЙ ДОЗЫ ПРЕПАРАТА."
                          />
                          <span class="custom-radio">РВОТА ПРОИЗОШЛА В ТЕЧЕНИЕ 3 ЧАСОВ ПОСЛЕ ПРИЕМА ПРЕДЫДУЩЕЙ ДОЗЫ ПРЕПАРАТА.</span>
                          </label
                        >
                        <label for="Choice20"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice20"
                            name="pyt[8_0]"
                            value="БЫЛ ЕЩЕ ОДИН НЕЗАЩИЩЕННЫЙ ПОЛОВОЙ АКТ ИЛИ ВО ВРЕМЯ НЕГО ВОЗНИКЛИ ПРОБЛЕМЫ С МЕТОДОМ КОНТРАЦЕПЦИИ."
                          />
                          <span class="custom-radio">БЫЛ ЕЩЕ ОДИН НЕЗАЩИЩЕННЫЙ ПОЛОВОЙ АКТ ИЛИ ВО ВРЕМЯ НЕГО ВОЗНИКЛИ ПРОБЛЕМЫ С МЕТОДОМ КОНТРАЦЕПЦИИ.</span>
                          </label>
                          <label for="Choice21"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice21"
                            name="pyt[8_0]"
                            value="ПРЕДЫДУЩИЙ ПРЕПАРАТ В НАСТОЯЩЕЕ ВРЕМЯ НЕ ПРОДАЕТСЯ В АПТЕКАХ."
                          />
                          <span class="custom-radio">ПРЕДЫДУЩИЙ ПРЕПАРАТ В НАСТОЯЩЕЕ ВРЕМЯ НЕ ПРОДАЕТСЯ В АПТЕКАХ.</span>
                          </label>   
                          <label for="Choice22"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice22"
                            name="pyt[8_0]"
                            value="Я ХОЧУ ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ И ПОЛУЧИТЬ РЕЦЕПТ НА ЭКСТРЕННУЮ КОНТРАЦЕПЦИЮ, ЧТОБЫ СОХРАНИТЬ ПРЕПАРАТ НА СЛУЧАЙ НЕЗАЩИЩЕННОГО ПОЛОВОГО АКТА В БУДУЩЕМ."
                          />
                          <span class="custom-radio">Я ХОЧУ ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ И ПОЛУЧИТЬ РЕЦЕПТ НА ЭКСТРЕННУЮ КОНТРАЦЕПЦИЮ, ЧТОБЫ СОХРАНИТЬ ПРЕПАРАТ НА СЛУЧАЙ НЕЗАЩИЩЕННОГО ПОЛОВОГО АКТА В БУДУЩЕМ.</span>
                          </label>   
                          <label for="Choice23"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice23"
                            name="pyt[8_0]"
                            value="С МОМЕНТА ПОЛОВОГО АКТА ПРОШЛО БОЛЬШЕ ВРЕМЕНИ, ЧЕМ КОНКРЕТНОЕ ВРЕМЯ, В КОТОРОМ ВЫ МОЖЕТЕ ПРИНИМАТЬ РАНЕЕ НАПИСАННЫЙ ПРЕПАРАТ. ХОЧУ ПОЛУЧИТЬ ПРЕПАРАТ, КОТОРЫЙ МОЖНО ПРИНЯТЬ ЗА ДОЛГОЕ ВРЕМЯ."
                          />
                          <span class="custom-radio">С МОМЕНТА ПОЛОВОГО АКТА ПРОШЛО БОЛЬШЕ ВРЕМЕНИ, ЧЕМ КОНКРЕТНОЕ ВРЕМЯ, В КОТОРОМ ВЫ МОЖЕТЕ ПРИНИМАТЬ РАНЕЕ НАПИСАННЫЙ ПРЕПАРАТ. ХОЧУ ПОЛУЧИТЬ ПРЕПАРАТ, КОТОРЫЙ МОЖНО ПРИНЯТЬ ЗА ДОЛГОЕ ВРЕМЯ.</span>
                          </label>        
                      </div>
        
                      <div class="options">
                        <p class="question">Я заявляю, что знаю и понимаю возможные побочные эффекты, противопоказания, взаимодействия, ограничения и меры предосторожности, связанные с применением препарата, в том числе содержащиеся в инструкции или краткой характеристике препарата к данному препарату.<span class="required">*</span></p>
                        <label for="Choice24"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice24"
                            name="pyt[9]"
                            value="ДА"
                          />
                          <span class="custom-radio">ДА</span>
                          </label
                        >
                        <label for="Choice25"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice25"
                            name="pyt[9]"
                            value="НЕТ"
                          />
                          <span class="custom-radio">НЕТ</span>
                          </label
                        >
                        <p class="form_error4">
                          К сожалению, мы не можем предоставить Вам консультацию. Вам необходимо проконсультироваться с врачом физически. Наши консультации предназначены только для пациентов, которые уже получили у своего врача соответствующее образование по вопросам применения препарата. Если лечащий врач не предоставил такого обучения, пожалуйста, запишитесь на телефонную или стационарную консультацию.
                          </p>
                      </div>
        
                      <div class="options">
                        <p class="question">Страдаете ли вы каким-либо из следующих заболеваний, например, тяжелая бронхиальная астма, тяжелая дисфункция печени, синдром мальабсорбции (синдром мальабсорбции глюкозы-галактозы или, например, болезнь Крона), наследственная непереносимость галактозы, общий дефицит лактазы, гиперчувствительность к активному веществу или любому содержащемуся вспомогательному веществу в подготовке. <span class="required">*</span></p>
                        <label for="Choice26"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice26"
                            name="pyt[10]"
                            value="ДА"
                          />
                          <span class="custom-radio">ДА</span>
                          </label
                        >
                        <label for="Choice27"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice27"
                            name="pyt[10]"
                            value="НЕТ"
                          />
                          <span class="custom-radio">НЕТ</span>
                          </label
                        >
                        <p class="form_error5">
                          К сожалению, мы не можем предоставить Вам консультацию. Вам необходимо проконсультироваться с врачом физически. Препарат противопоказан при тяжелой форме бронхиальной астмы, тяжелых нарушениях функции печени, синдромах мальабсорбции, наследственной непереносимости галактозы, общей недостаточности лактазы и гиперчувствительности к действующему веществу или любому вспомогательному веществу, содержащемуся в препарате.
                          </p>
                      </div>
        
                      <div class="options">
                        <p class="question">Я подтверждаю, что мне известно о возможных тромбоэмболических осложнениях, связанных с использованием гормональной контрацепции, а также о связанных с ними неврологических, легочных и сердечных осложнениях.<span class="required">*</span></p>
                        <label for="Choice28"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice28"
                            name="pyt[11]"
                            value="ДА"
                          />
                          <span class="custom-radio">ДА</span>
                          </label
                        >
                        <label for="Choice29"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice29"
                            name="pyt[11]"
                            value="НЕТ"
                          />
                          <span class="custom-radio">НЕТ</span>
                          </label
                        >
                        <p class="form_error6">
                          К сожалению, мы не можем предоставить Вам консультацию. Вам необходимо проконсультироваться с врачом физически.
                          </p>
                      </div>
        
                      <div class="options">
                        <p class="question">Я подтверждаю, что осознаю, что ни одна гормональная контрацепция не является эффективной на 100%.<span class="required">*</span></p>
                        <label for="Choice30"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice30"
                            name="pyt[12]"
                            value="ДА"
                          />
                          <span class="custom-radio">ДА</span>
                          </label
                        >
                        <label for="Choice31"
                          ><input
                            class="real-radio"
                            type="radio"
                            id="Choice31"
                            name="pyt[12]"
                            value="НЕТ"
                          />
                          <span class="custom-radio">НЕТ</span>
                          </label
                        >
                        <p class="form_error7">
                          К сожалению, мы не можем предоставить Вам консультацию. Вам необходимо проконсультироваться с врачом физически.
                          </p>
                      </div>
                      
                      <div class="form_consent_container">
                        <div class="consent_box">
                            <input
                            type="button"
                            id="accept_all_btn"
                            value="Отметить все"
                          />
                        </div>
                        
                        <div class="consent_box">
                            <div class="consent_desc">
                                <span class="required">(Обязательно)</span>  Я подтверждаю, что прочитал и принимаю 
                            <a rel="nofollow" href="https://tabletka24.pl/regulamin/">правила</a>
                            и
                            <a rel="nofollow" href="https://tabletka24.pl/polityka-prywatnosci/"
                              >политику конфиденциальности</a>
                              портала и их положения. Я подтверждаю, что предоставленные мной сведения и данные соответствуют действительности. Я пользуюсь услугой от своего имени и по собственному желанию.
                            </div>
                            <label class="consent-radio" for="Choice32"
                            ><input
                              class="real-radio"
                              type="radio"
                              id="Choice32"
                              name="zgoda[0]"
                              value="ДА"
                            />
                            <span class="custom-radio"></span>
                            Подтверждаю
                           </label>
        
                        </div>
                        <div class="consent_box">
                            <div class="consent_desc">
                                <span class="required">(Обязательно)</span> Я даю согласие на обработку GREENCARE CLINIC SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALNOŚCIĄ, NIP 5252953877, REGON 525141369, адрес: Złota 7/28, 00-019 Варшава, данных, предоставленных мной в форме относительно моего здоровья, для пересылки к врачу, который выпишет лечение, которое я просил.рецепт.
                           </div>
                            <label class="consent-radio" for="Choice33"
                            ><input
                              class="real-radio"
                              type="radio"
                              id="Choice33"
                              name="zgoda[1]"
                              value="ДА"
                            />
                            <span class="custom-radio"></span>
                            Согласен
                           </label
                            
                          >
                            
                        </div>
                        <div class="consent_box">
                            <div class="consent_desc">
                              Я хочу получать информацию от Администратора персональных данных об услугах, продуктах и акциях, которые предлагает Администратор персональных данных.
                           </div>
                            <label class="consent-radio" for="Choice34"
                            ><input
                              class="real-radio"
                              type="radio"
                              id="Choice34"
                              name="zgoda[2]"
                              value="ДА"
                            />
                            <span class="custom-radio"></span>
                            Согласен
                            </label>
                            
                        </div>
                      
            
                      </div>
        
        
        
                    <button
                    type="submit"
                    id="form_add_to_cart_btn"
                    name="add-to-cart"
                    value="84"
                  >
                    ДОБАВИТЬ В КОРЗИНУ
                  </button>
                </div>
            </div>
                </section>
           
                
                <div class="footer-wrap">
            <footer>
        <div class="first">
        <img src="img/logo.png" alt="logo">
        <p class="info">GREENCARE – Podmiot leczniczy
            wykonujący Działalność leczniczą
            pod numerem 000000263561</p>
        </div>
        <div class="second">
            <div class="social">
                <a rel="nofollow" href="https://www.instagram.com/conversios.tabletka24.pl/"><img src="img/instagram.png" alt="insta"></a>
                <a rel="nofollow" href="https://www.facebook.com/tabletka24"><img src="img/facebook.png" alt="fb"></a>
            </div>
        </div>
        <div class="third">
            <span><a rel="nofollow" href="https://tabletka24.pl/ru/politika-konfidenczialnosti/">Политика конфиденциальности</a></span>
            <span><a rel="nofollow" href=" https://tabletka24.pl/ru/statut-ru/">Регламент</a></span>
            <div>kontakt@tabletka24.pl</div>
        </div>
        
            </footer>
            <div class="copyright">Copyright © 2024 Tabletka24™. All Rights Reserved</div>
        <script src="js/tscript-ru.js"></script>
        </body>

</div>



</html>